{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/employe.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel="script" href="{% static 'js/nav.js' %}">
</head>
<body>
<!-- <nav class="main-menu">
        <li class="nav-logo">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-items">
            <a href="">Student</a>
            <a href="">Employe</a>
            <a href="">Product</a>
        </li>
        <li>
            <a href="/admin">Admin</a>
        </li>
    </nav>
</nav> -->
<nav class="main-menu">
    <div class="logo">CRUD</div>

    <ul class="nav-items">
        <li><a href="{% url 'student' %}">Student</a></li>
        <li><a href="{% url 'employe' %}">Employee</a></li>
        <li><a href="{% url 'product' %}">Product</a></li>
    </ul>

    <div class="menu-toggle">☰</div>
</nav>


    {% block content %} {% endblock %}
</body>
</html>