    body {
      background-color: #111;
      color: white;
    }

    .navbar {
      background-color: #000;
    }

    .nav-link, .navbar-brand {
      color: #fff !important;
    }

    .nav-link:hover {
      color: #00ffcc !important;
    }

    .dropdown-menu {
      background-color: #1a1a1a;
      border: none;
    }

    .dropdown-item {
      color: #ccc;
    }

    .dropdown-item:hover {
      background-color: #000;
      color: #00ffcc;
    }